models/
wandb/
__pycache__/
extracted_dataset/
data/coconut_prosqa_gpt2/
data/coconut_prosqa_gpt2_context/
data/coconut_prosqa_gpt2_context_test/
translator_models/
extracted_dataset_test/
coconut_prosqa_gpt2_context_test/Miniconda3-latest-Linux-x86_64.sh
doc/
results/
CLAUDE.md
data/hotpot_*.json